moc_*.cxx
cmake_install.cmake
CTestTestfile.cmake
CPackConfig.cmake
CPackSourceConfig.cmake
Makefile
CMakeFiles
CMakeCache.txt
/tests
doc/tree_structure.png
/callgrind.out.*
*.cxx_parameters
install_manifest.txt
*.deb
/build
moc_*.cpp
moc_*.cpp_parameters
*_autogen
alkulife
doros_alkulify
swteat_k
